@import "../../style/colors.scss";

.Plus-button {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 30px;
  cursor: pointer;
  color: $TEXT_PRIMARY;

  &:hover {
    color: $TEXT_SECONDARY;
  }
}
