@import "../../style/colors.scss";

.Post-list-item {
  position: relative;
  width: 100%;
  min-height: 75px;
  padding: 10px 5px 10px 5px;
  cursor: pointer;
  border-bottom: 1px solid $BORDER;

  &:hover,
  &--selected {
    background: $SECONDARY;
    color: $TEXT_SECONDARY;
  }

  &__date {
    color: $TEXT_FAINT;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 5px;
  }

  &__remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
