$BRIGHT_GRAY: #393F4B;
$RIVER_BED: #434A58;
$GRAY_NICKEL: #C0C1BF;
$SHUTTLE_GRAY: #545D6E;
$NEVADA: #6B6F77;
$WHITE: #FFFFFF;

$PRIMARY: $RIVER_BED;
$SECONDARY: $BRIGHT_GRAY;
$TEXT_PRIMARY: $GRAY_NICKEL;
$TEXT_SECONDARY: $WHITE;
$TEXT_FAINT: $NEVADA;
$BORDER: $SHUTTLE_GRAY;
