@import "../../style/colors.scss";

.Post-stack {
  width: 100%;
  border-right: 1px solid $BORDER;

  &__header {
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid $BORDER;
  }

  &__footer {
    display: flex;
    height: 40px;
    flex-direction: column-reverse;
    border-top: 1px solid $BORDER;
  }

  &__create-post-button {
    position: absolute;
    left: 10px;
    top: 6px;
  }

  &__filter-input {
    width: 80%;
    margin-bottom: 5px;
    align-self: center;
  }
}
