@import "../../style/colors.scss";

.Button-group-button {
  height: 100%;
  cursor: pointer;
  align-self: center;
  background: $PRIMARY;
  color: $TEXT_SECONDARY;

  &:hover,
  &--selected {
    background: $TEXT_SECONDARY;
    color: $PRIMARY;
  }
}
